.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    background-color: #4F443E;
    color: lightgray;
    border-radius: 7px;
    padding: 1rem;
    gap: 0.5rem;
    img{
        display: flex;
        width: 200px;
    }
    .link{
        text-decoration: none;
        font-weight: bolder;
        color: #4F443E;
        background-color: lightgray;
        width: 100%;
        padding: 0.1rem;
        border-radius: 5px;
    }
    .deleteButton{
        background-color: rgb(255, 0, 0);
        border: none;
        font-weight: bold;
        color: lightgray;
        border-radius: 5px;
        padding: 0.1rem 0.3rem;
        width: 100%;
    }
    button{
        background-color: lightgray;
        border: none;
        font-weight: bold;
        color: #4F443E;
        border-radius: 5px;
        padding: 0.1rem 0.3rem;
    }
}